---
- name: Configure xremap keybindings

  block:
    - name: Install xremap
      kewlfft.aur.aur:
        use: yay
        state: present
        name: ["xremap-x11-bin"]
      become: true
      become_user: aur_builder

    - name: Add the target user to the 'input' group
      ansible.builtin.user:
        name: "{{ ansible_user }}"
        groups: input
        append: yes

    - name: Create udev rule to grant access to uinput for logged-in users
      ansible.builtin.copy:
        dest: /etc/udev/rules.d/99-input-for-xremap.rules
        content: 'KERNEL=="uinput", GROUP="input", TAG+="uaccess"\n'
        owner: root
        group: root
        mode: '0644'

    - name: Create the xremap systemd user service file
      become: false
      ansible.builtin.copy:
        dest: "/home/{{ ansible_user }}/.config/systemd/user/xremap.service"
        mode: '0644'
        content: |
          [Unit]
          Description=Xremap input remapper
          Documentation=https://github.com/xremap/xremap

          [Service]
          # KillMode=process is important to ensure xremap and its child processes are terminated correctly.
          KillMode=process
          # Use the full path to the executable found by Ansible
          ExecStart=/usr/bin/xremap /home/{{ ansible_user }}/.config/xremap/config.yml
          Restart=always
          RestartSec=3

          [Install]
          WantedBy=default.target

    - name: Enable and start the xremap service
      become: false
      ansible.builtin.systemd_service:
        name: "xremap"
        scope: user
        enabled: true
        state: started
