---
- name: Install keyd package
  community.general.pacman:
    update_cache: true
    name: ['keyd']

    state: present

- name: Ensure keyd services are started and enabled
  ansible.builtin.systemd:
    name: keyd
    enabled: yes
    state: started

- name: Deploy keyd default configuration
  copy:
    dest: /etc/keyd/default.conf
    content: |
      [ids]
      *

      [alt]

      x = C-x
      c = C-c
      v = C-v

      a = C-a
      f = C-f
      r = C-r
      z = C-z
    owner: root
    group: root
    mode: '0644'
