---
- name: Install gnome apps
  community.general.pacman:
    update_cache: true
    name: ["gnome-shell-extension-appindicator", "gnome-tweaks", "gitg"]
    state: present

- name: Install gnome app from aur.
  kewlfft.aur.aur:
    use: yay
    state: present
    name:
      [
        "extension-manager",
        "gnome-shell-extension-just-perfection-desktop",
        "gnome-shell-extension-notification-configurator-git",
        "gnome-shell-extension-dash-to-dock",
        "gnome-shell-extension-wallpaper-slideshow",
      ]
  become: true
  become_user: aur_builder

- name: GNOME desktop keybindings
  become: false
  community.general.dconf:
    key: "/org/gnome/desktop/wm/keybindings/{{ item.key }}"
    value: "{{ item.value }}"
  loop:
    - { key: "switch-applications", value: "['<Alt>Tab']" }
    - { key: "switch-applications-backward", value: "['<Shift><Alt>Tab']" }
    - { key: "switch-to-workspace-left", value: "['<Shift><Super>Tab']" }
    - { key: "switch-to-workspace-right", value: "['<Super>Tab']" }


- name: GNOME shell keybindings
  become: false
  community.general.dconf:
    key: "/org/gnome/shell/keybindings/{{ item.key }}"
    value: "{{ item.value }}"
  loop:
    - { key: "show-screenshot-ui", value: "['<Control><Alt>a']"}
