---

- name: Install KDE packages.
  community.general.pacman:
    update_cache: true
    name: [
      "kdiff3", "kommit", "kvantum"
    ]
    state: present

- name: Install KDE Apps from aur.
  kewlfft.aur.aur:
    use: yay
    state: present
    name: ["konsave"]
  become: true
  become_user: aur_builder

- name: Setup KDE theme
  become: false
  block:
    - name: Check if Graphite KDE theme is installed
      stat:
        path: "/home/{{ ansible_user }}/.local/share/plasma/desktoptheme/Graphite"
      register: graphite_installed

    - name: Clone Graphite KDE theme.
      git:
        repo: "https://github.com/vinceliuice/Graphite-kde-theme.git"
        dest: "/tmp/Graphite-kde-theme"
        clone: true
        update: true
      when: not graphite_installed.stat.exists

    - name: Install Graphite KDE theme.
      shell: |
        cd /tmp/Graphite-kde-theme
        ./install.sh
      args:
        chdir: /tmp/Graphite-kde-theme
      when: not graphite_installed.stat.exists

    - name: Enable theme
      shell: |
        plasma-apply-desktoptheme Graphite-nord-light

    - name: kwinrc
      community.general.kdeconfig:
        kwriteconfig_path: /usr/bin/kwriteconfig6
        path: "/home/{{ ansible_user }}/.config/kwinrc"
        values: [
          # window theme
          { group: org.kde.kdecoration2, key: library, value: org.kde.kwin.aurorae },
          { group: org.kde.kdecoration2, key: theme, value: __aurorae__svg__Graphite-light },

          # wayland
          { group: Wayland, key: "InputMethod[$e]", value: /usr/share/applications/org.fcitx.Fcitx5.desktop },

          # task switch
          { group: TabBox, key: ApplicationsMode, value: 1 },
          { group: TabBox, key: HighlightWindows, bool_value: false },
          { group: TabBox, key: LayoutName, value: big_icons },

          # Virtual Desktop
          { group: Desktops, key: Number, value: 5 },
        ]
        backup: true

    - name: Check if Tela Circle Icon theme is installed
      stat:
        path: "/home/{{ ansible_user }}/.local/share/icons/Tela-circle"
      register: tela_icon_installed

    - name: Clone Tela Circle Icon theme.
      git:
        repo: "https://github.com/vinceliuice/Tela-circle-icon-theme.git"
        dest: "/tmp/Tela-circle-icon-theme"
        clone: true
        update: true
      when: not tela_icon_installed.stat.exists

    - name: Install Tela Circle Icon theme.
      shell: |
        cd /tmp/Tela-circle-icon-theme
        ./install.sh
      args:
        chdir: /tmp/Tela-circle-icon-theme
      when: not tela_icon_installed.stat.exists

    - name: Setup kdeglobals
      community.general.kdeconfig:
        kwriteconfig_path: /usr/bin/kwriteconfig6
        path: "/home/{{ ansible_user }}/.config/kdeglobals"
        values: [
          # Icon theme
          { group: Icons, key: Theme, value: Tela-circle },

          # KDE
          { group: KDE, key: AnimationDurationFactor, value: 0.5 },
          { group: KDE, key: LookAndFeelPackage, value: com.github.vinceliuice.Graphite-nord-light },
          { group: KDE, key: widgetStyle, value: kvantum },
        ]
        backup: true

    - name: kvantum.kvconfig
      copy:
        dest: "/home/{{ ansible_user }}/.config/Kvantum/kvantum.kvconfig"
        content: |
          [General]
          theme=KvMojaveLight#
        force: no
