---
- name: Setup KDE theme
  become: false
  block:
    - name: Check if Graphite KDE theme is installed
      stat:
        path: "/home/{{ ansible_user }}/.local/share/plasma/desktoptheme/Graphite"
      register: graphite_installed

    - name: Clone Graphite KDE theme.
      git:
        repo: "https://github.com/vinceliuice/Graphite-kde-theme.git"
        dest: "/tmp/Graphite-kde-theme"
        clone: yes
        update: yes
      when: not graphite_installed.stat.exists

    - name: Install Graphite KDE theme.
      shell: |
        cd /tmp/Graphite-kde-theme
        ./install.sh
      args:
        chdir: /tmp/Graphite-kde-theme
      when: not graphite_installed.stat.exists

    - name: Enable theme
      shell: |
        plasma-apply-desktoptheme Graphite-nord-light

    - name: KWinrc
      community.general.kdeconfig:
        kwriteconfig_path: /usr/bin/kwriteconfig6
        path: "/home/{{ ansible_user }}/.config/kwinrc"
        values:
          - groups: [org.kde.kdecoration2]
            key: theme
            value: __aurorae__svg__Graphite-light
        backup: true

    - name: Check if Tela Circle Icon theme is installed
      stat:
        path: "/home/{{ ansible_user }}/.local/share/icons/Tela-circle"
      register: tela_icon_installed

    - name: Clone Tela Circle Icon theme.
      git:
        repo: "https://github.com/vinceliuice/Tela-circle-icon-theme.git"
        dest: "/tmp/Tela-circle-icon-theme"
        clone: yes
        update: yes
      when: not tela_icon_installed.stat.exists

    - name: Install Tela Circle Icon theme.
      shell: |
        cd /tmp/Tela-circle-icon-theme
        ./install.sh
      args:
        chdir: /tmp/Tela-circle-icon-theme
      when: not tela_icon_installed.stat.exists

    - name: Setup kdeglobals
      community.general.kdeconfig:
        kwriteconfig_path: /usr/bin/kwriteconfig6
        path: "/home/{{ ansible_user }}/.config/kdeglobals"
        values:
          - groups: [Icons]
            key: Theme
            value: Tela-circle
        backup: true
