- name: Install ulauncher from AUR
  kewlfft.aur.aur:
    use: yay
    state: present
    name: ulauncher-git
  become: true
  become_user: aur_builder

- name: Ensure ulauncher autostart directory exists
  file:
    path: "/home/{{ ansible_user }}/.config/autostart"
    state: directory
    mode: "0755"
  become: false

- name: Enable ulauncher autostart by creating desktop file
  copy:
    dest: "/home/{{ ansible_user }}/.config/autostart/ulauncher.desktop"
    content: |
      [Desktop Entry]
      Type=Application
      Exec=ulauncher
      Hidden=false
      NoDisplay=false
      X-GNOME-Autostart-enabled=true
      Name=Ulauncher
      Comment=Application launcher
    mode: "0644"
  become: false

